<h1>Login</h1>
<<<<<<< HEAD
=======
<%= notice %>
>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952
<%= form_tag '/login' do %>
  Email: <%= text_field_tag :email %>
  Password <%= password_field_tag :password %>
          <%= submit_tag "Submit" %>
<% end %>
