  <!-- <div class="Gallery">
    <%= image_tag src='party6.jpg' %>
    <%= image_tag src='party4.jpg' %>
    <%= image_tag src='/party5.jpg' %>
    <%= image_tag src='/party3.jpg' %>
    <%= image_tag src='/party2.jpg' %>
    <%= image_tag src='/party8.jpg' %>
    <%= image_tag src='/party10.jpg' %>
    <%= image_tag src='/picnic8.jpg' %>
    <%= image_tag src='/drinks9.jpg' %>
    <%= image_tag src='/wedding7.jpg' %>
  </div> -->
