<div class="col-md-4">
<%= image_tag src="/prty12.jpg" %>
<%= image_tag src="/party9.jpg" %>
<%= image_tag src="/party16.jpg" %>
</div>
<div class="col-md-4">
<%= image_tag src="/party7.jpg" %>
<%= image_tag src="/party5.jpg" %>
<%= image_tag src="/party8.jpg" %>
</div>
<div class="col-md-4">
<%= image_tag src="/party4.jpg" %>
<%= image_tag src="/party3.jpg" %>
<%= image_tag src="/party2.jpg" %>
</div>
<!-- <div class="col-md-4">
<%= image_tag src="/party4.jpg" %>
<%= image_tag src="/party3.jpg" %>
<%= image_tag src="/party2.jpg" %>
</div> -->
<!-- <div class="col-md-4">
<%= image_tag src="/party14.jpg" %>
<%= image_tag src="/party20.jpg" %>
<%= image_tag src="/party21.jpg" %>
</div> -->
