<div class="newEvent">New Event:
<%= form_for Event.new do |f| %>
<div class="table"><%= f.text_field :event,  placeholder: "Event" %></div>
<div class="table"><%= f.text_field :host,  placeholder: "Host" %></div>
<div class="table"><%= f.text_area :activities,  placeholder: "Activities" %></div>
<div class="table"><%= f.text_area :address, placeholder: "Address" %></div>
<div class="table"><%= f.text_area :zipcode, placeholder: "zipcode" %></div>
<div class="table"><%= f.submit "Save" %></div> 
<% end %>
</div>
