<!DOCTYPE html>
<html>
  <head>
    <title>EventsApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
=======

>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class= "container">
      <div class= "navbar-header">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <h1 class="navbar-brand" id="brand" href="#">FunToGo</h1>
<<<<<<< HEAD
          <ul class="navbar-nav mr-auto" >
            <h3 id="menu"><%= link_to "Events", events_path%></h3>
          </ul>
=======

>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952
          <ul class="navbar-nav mr-auto">
            <h3><%= link_to "New Event",  new_event_path %></h3>
          </ul>
          <ul class="navbar-nav mr-auto">
            <h3><%= link_to "Calendar",  month_calendar_index_path %></h3>
          </ul>
          <ul class="navbar-nav mr-auto">
<<<<<<< HEAD
            <h3><%= link_to "Gallery"%></h3>
=======
            <h3><%= link_to "Gallery", static_images_gallery_path%></h3>
>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952
          </ul>
          </div>
    </div>

      <div class="user">
        <% if current_user %>
         Signed in as <%= current_user.name %> | <%= link_to "logout", '/logout' %>
         <% else %>
          <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
        <% end %>
      </div>
    </div>


  </div>

</nav>
    <%= yield %>
<<<<<<< HEAD
=======
    <div class="main">
      <h2>looking for something fun?</h2>
      <h5>This app is a great help to organize your event get everyone together and have some fun..You can either look for event  or create your event to have fun.. Need better planned event? Let's help you out here.</h5>
    </div>
    <img  src="party15.jpg" 

    <div class="infobar">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
            </div>

            <hr>

          </div>

        </main>

        <footer class="container">
          <p>&copy; Company 2017</p>
        </footer>
>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952

  </body>
</html>
