<!DOCTYPE html>
<html>
  <head>
    <title>EventsApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class= "container">
      <div class= "navbar-header">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Events App</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li><%= link_to "Events", events_path%></li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li><%= link_to "New Event",  new_event_path %></li>
      </ul>
    </div>
    <% if current_user %>
     Signed in as <%= current_user.name %> | <%= link_to "logout", '/logout' %>
     <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>

</nav>
    <%= yield %>
  </body>
</html>
